<ng-sidenav-container>
  <ng-sidenav
    [expanded]="isExpanded"
    [drawerState]="state"
    [drawerWidth]="'250px'"
    [drawerWidthCollapsed]="'80px'"
    [color]="'#696969'">
    <div class="nav-header">Promedico batch</div>
    <ul ngbNav [activeId]="route.url | async" class="nav-pills" orientation="vertical">
      <li [ngbNavItem]="link.url" *ngFor="let link of menuItems">
        <a ngbNavLink routerLink="{{link.url}}" >
          <span class="material-icons">{{link.icon}}</span> {{ link.title }}
        </a>
      </li>
    </ul>
  </ng-sidenav>
  <ng-sidenav-content>
    <router-outlet></router-outlet>
  </ng-sidenav-content>
</ng-sidenav-container>
